*.log
.DS_Store
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/database/*.sqlite
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/.codex-temp-pypdf
/.pip-cache
/.tmp
/_avast_
Homestead.json
Homestead.yaml
Thumbs.db
