<IfModule mod_rewrite.c>
    RewriteEngine On

    # InfinityFree pointe le site vers htdocs, donc on renvoie tout vers public.
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
